:root {
    --primary-bg: #ffffff;
    --secondary-bg: #f0f0f0;
    --accent-color: #ff0000;
    --text-color: #000000;
}

body {
    width: 320px;
    padding: 10px;
    font-family: Arial, sans-serif;
    background-color: var(--primary-bg);
    color: var(--text-color);
    margin: 0;
}

.container {
    border-radius: 8px;
    padding: 15px;
    background-color: var(--secondary-bg);
}

button {
    padding: 8px 12px;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: var(--accent-color);
    color: var(--text-color);
}

button:hover {
    opacity: 0.9;
}

input[type="text"], input[type="number"] {
    width: 100%;
    padding: 8px;
    margin: 5px 0;
    background-color: #ffffff;
    color: #000000;
    border: 1px solid var(--accent-color);
    border-radius: 4px;
    box-sizing: border-box;
}

.button-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    gap: 5px;
}



/* Scrollable areas */
#otomasyonListesi, #otomasyonAdimlari {
    max-height: 300px;
    overflow-y: auto;
    margin: 10px 0;
}